<div class="form-ui">
    <h2><%= locals.title %></h2>
    <hr class="my-1">
    <form action="/edit/<%= data.uuid %>?_method=put" method="post" id="edit_form">
        <div class="d-flex my-1">
            <label for="title" class="flex-1 text_center text_bold">제목</label>
            <input type="text" name="title" id="title" class="flex-4 p-quater" value="<%= data.title %>">
        </div>
        <div class="d-flex my-1">
            <label for="content" class="flex-1 text_center text_bold">내용</label>
            <textarea cols="30" rows="10" name="content" id="content" class="flex-4 p-quater"><%= data.content %></textarea>
        </div>
        <div class="d-flex flex-end mx-half gap-0">
            <input type="submit" value="수정" class="btn btn-modify">
            <input type="reset" value="취소" class="btn btn-delete">
        </div>
    </form>
</div>