<div class="article">
    <div class="article-header">
        <p class="text-big"><%= data.title %></p>
        <p class="text-small"><%= data.createdAt %></p>
    </div>

    <hr class="my-1">

    <div class="article-main bg-light p-1">
        <p class="text-normal"><%= data.content %></p>
    </div>
    <div class="article-footer my-1">
        <button type="button" class="btn btn-dark">목록</button>
        <button type="button" class="btn btn-top">맨 위로</button>
    </div>
</div>